@font-face {
  font-family: "harvest-season";
  src: url("./harvest-season.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("./icon.png");
  font-family: "harvest-season";
}

#headerDiv {
  display: flex;
  flex-direction: column;
}

#headerContainer {
  flex-direction: column;
  text-align: center;
  margin: auto;
}

#buttonDiv {
  flex-direction: column;
  text-align: center;
  margin: auto;
}
